@import './variables';
@import './common';
@import './mixins';


#header{
    background-color: rgba(255, 195, 139, 0.05);
    .container-main::before{
        content: "";
        width: 55%;
        height: 39%;
        background-color: #FF926B;
        display: inline-block;
        position: absolute;
        z-index: -1;
        top: 0;
        right: -119px;
    }
    .container-main{
        position: relative;
        margin: 0 auto;
        padding-top: 40px;
        .menu{
            display: flex;
            justify-content: space-between;
            margin-bottom: 226px;
            .icon{
                span{
                    @include text-style(34px,700,100%,#1F1F33)
                }
            }
            nav{
                ul{
                    li{
                        display: inline-block;
                        margin: 10px 50px 0 0;
                        a{
                            @include text-style(18px,500,100%,#1F1F33)
                        }
                    }
                    li:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .information{
            position: relative;
            h1{
                @include text-style(52px,500,64px,#1F1F33)
                margin-bottom:30px;
            }
            p{
                @include text-style(20px,400,100%,#1F1F33)
                margin-bottom:50px;
            }
            a{
                @include text-style(18px,500,100%,white)
                background-color: #FF926B;
                padding: 17px 40px;
                border-radius: 5px;
                box-sizing: border-box;
            }
            #downward-arrow{
                transform: translate(-96px,126px);
            }
            #main-img{
                position: absolute;
                top: -179px;
                right: -119px;
            }
        }
    }
}